@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
:root[color-mode=dark] {
  --transition: ease-in 1s;
  --surface: #191a20;
  --primary-text: #ffffff;
  --znain: white;
  --secondary-text: #a5a9ed;
  --link-text: #a5a9ed;
  --blog1: #81898f ;
}
:root[color-mode=light] {
  --transition: ease-in 1s;
  --surface: #f5f5f5;
  --primary-text: #212121;
  --znain: white;
  --blog1: #c7ced36e ;
  --secondary-text: #4b395f;
  --link-text: #212121;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.acv{
  /* background-color:var(--secondary-text); */
  padding: 4px;
 font-family: 'Fira Code', monospace;
  border-radius: 10px;
}

body,
html {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Fira Code', monospace;
  background-color: #191a20;
  background-color: var(--surface, #191a20);
  color: #ffffff;
  color: var(--primary-text, #ffffff);
}

h1 p a h2 h3 blockquote {
  font-family: 'Fira Code', monospace;
}

p,
blockquote,
li {
  text-align: justify;
  line-height: 1.6rem;
}

blockquote {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  margin: 40px auto;
  border-top: solid 3px;
  border-bottom: solid 3px;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.8rem;
  border-color: #a5a9ed;
  border-color: var(--secondary-text, #a5a9ed);
}

blockquote:after {
  position: absolute;
  content: "”";
  color: #a5a9ed;
  color: var(--secondary-text, #a5a9ed);
  font-size: 8rem;
  bottom: -40px;
  right: 10px;
}

a,
a:link,
a:visited {
  color: #a5a9ed;
  color: var(--link-text, #a5a9ed);
}

form .description {
  text-align: center;
  margin-bottom: 1rem;
}
form .switch {
  position: relative;
  width: 18rem;
  height: 3rem;
  margin: 0 auto;
  font-size: 0;
}
form .switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 3rem;
  width: 6rem;
  left: 6rem;
  margin: 0;
}
form .switch input:checked {
  z-index: 1;
}
form .switch input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
form .switch input:checked + label {
  opacity: 1;
  cursor: default;
}
form .switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
form .switch label {
  color: #ffffff;
  color: var(--primary-text, #ffffff);
  opacity: 0.33;
  transition: opacity 1s ease;
  cursor: pointer;
  font-size: 1rem;
  line-height: 3rem;
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
form .switch label:last-of-type {
  margin-left: 6rem;
}
form .switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
  transition: 1s ease all;
  background: #fff;
  position: absolute;
  width: 6rem;
  left: 6rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
form .switch .toggle-inside {
  border-radius: 5rem;
  background: #192432;
  position: absolute;
  transition: 1s ease all;
  height: 2.5rem;
  width: 2.5rem;
}
form .switch .toggle-inside:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
  content: "";
  font-style: normal;
  color: #ffffff;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  position: absolute;
  z-index: 3;
  margin: 20% auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #b2ebf2;
}
form .switch input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 3.25rem;
  background-color: #fbc02d;
}
form .switch input ~ input:checked ~ .toggle-outside .toggle-inside:before {
  content: "";
  color: #ff5722;
}
form .switch input#on:focus ~ .toggle-outside .toggle-inside {
  background-color: #b2ebf2;
}
form .switch input#on:focus ~ .toggle-outside .toggle-inside:before {
  color: #192432;
}
form .switch input#off:focus ~ .toggle-outside .toggle-inside {
  background-color: #c2591d;
}
form .switch input#off:focus ~ .toggle-outside .toggle-inside:before {
  color: #fbc02d;
}

.wrapper {
  margin: 0 auto;
  padding: 1.2rem;
  display: grid;
  justify-content: start;
  align-content: start;
  gap: 0 30px;
  grid-template-areas: "widgets" "header" "content" "sidebar" "footer";
}
.wrapper .main-head {
  grid-area: header;
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #a5a9ed;
  color: var(--secondary-text, #a5a9ed);
}
.wrapper .main-head h1 {
  border-bottom: 3px solid;
  border-color: #a5a9ed;
  border-color: var(--secondary-text, #a5a9ed);
  line-height: 3.5rem;
  padding-bottom: 1rem;
}
.wrapper .head-widgets {
  grid-area: widgets;
  padding: 1rem 0;
}
.wrapper .content {
  grid-area: content;
  padding-bottom: 2rem;
}
.wrapper .side {
  grid-area: sidebar;
}
.wrapper .side p {
  text-align: left;
}
.wrapper .main-footer {
  grid-area: footer;
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid;
  border-color: #ffffff;
  border-color: var(--primary-text, #ffffff);
  font-size: 0.9rem;
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 920px;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: "header widgets" "content sidebar" "footer footer";
  }
}

img{
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(45, 31, 56, 0.808);
  transition: ease-out 1s;
}
img:hover{
  transform: rotate(3deg);
  transition: ease-out 1s;
}

#skills span {
  font-family: Open 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top: -30px;
  left: 2%;
  position: relative;
  font-size: 1.0em;
  font-weight: bolder;
  font-family: monospace;
  color: var(--znain, #ffffff);
}

progress {
  border-radius: 10px;
  height: 2.0em;
  width: 100%;
}

progress::-webkit-progress-bar {
  border-radius: 10px;
  background-color: #81898f;
  box-shadow: 2px 2px 2px rgba(61, 61, 61, 0.836);
}

progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: var(--secondary-text);
}

progress::-moz-progress-bar {
  border-radius: 10px;
  background-color: #329ad1;
}

.sosmed {
  display: flex;
}

a{
  margin-top: 18px;
  text-decoration: none;
  margin-left: 5px;
  color: var(--primary-text, #ffffff);
  font-size: 15px;
}
.cybr-btn {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: 'Fira Code', monospace;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  height: 55px;
  line-height: 55px;
  transition: background 0.2s;
}

.cybr-btn:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn:after,
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  color: var(--primary-text);
  font-size: var(--label-size);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}
.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}
/* scroll */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background:var(--secondary-text);
}
::-webkit-scrollbar-thumb:hover {
  background:var(--secondary-text);
}
aside, article, section, div, img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
